.destinations-container {
    padding: 40px;
    padding-top: 120px;
    background-color: #f0f8ff; /* Light blue background */
  }
  
  .title {
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .search-bar {
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px 40px 10px 20px; /* Add padding for the search icon */
    font-size: 16px;
    border: 1px solid #007BFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #007BFF;
  }
  
  .places-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .place-card {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .place-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .place-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    transition: opacity 0.3s;
  }
  
  .place-card:hover img {
    opacity: 0.9;
  }
  
  .place-card h2 {
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    color: #34495e;
    margin-top: 10px;
  }
  
  .place-card p {
    font-size: 1rem;
    color: #7f8c8d;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    margin-top: 100px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .reviews {
    margin-top: 20px;
    text-align: left;
  }
  
  .review {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #007BFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  